{% extends 'layout/base.html' %}

{% block titulo %}
Sistema de Gestão de Integrantes
{% endblock %}

{% block conteudo %}

<div class="tela-inicial">

    <div class="fundo-brilho"></div>

    <div class="conteudo-inicial">

        <h2 class="nome-banda mb-1">
            Brilho Negro
        </h2>

        <h1 class="titulo mb-2">
            Sistema de Gestão de Integrantes
        </h1>

        <h5 class="subtitulo mb-4">
            SGI
        </h5>

        <p class="subtitulo texto-inicial mb-4">
            Bem-vindo ao portal oficial do Sistema de Gestão de Integrantes da Brilho Negro.
            <br>
            Escolha uma das opções abaixo para continuar.
        </p>

        <div class="area-botoes-inicial">

            <a href="/cadastro" class="btn btn-brilho btn-inicial">
                👤 Realizar Cadastro
            </a>

            <a href="/login" class="btn btn-dark btn-inicial">
                ⚙️ Área Administrativa
            </a>

        </div>

    </div>

</div>

{% endblock %}