{% extends 'layout/base.html' %}

{% block titulo %}
CPF já cadastrado
{% endblock %}

{% block conteudo %}

<div class="card-bn text-center">

    <h2 class="titulo">
        ⚠️ CPF já cadastrado
    </h2>

    <hr>

    <p>
        Este CPF já possui cadastro na Brilho Negro.
    </p>

    <p>
        Caso precise atualizar alguma informação,<br>
        procure a equipe responsável pelo cadastro.
    </p>

    <br>

    <a href="/cadastro" class="btn btn-brilho">
        Voltar ao cadastro
    </a>

</div>

{% endblock %}